
<div class="col-md-4" *ngFor="let c of customer">
  <div class="card text-center">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
      {{c.name}}
      <button class="btn btn-danger" (ngSubmit)="deleteCustomer(c.id)">
        Delete
      </button>
    </div>
    <div class="card-body">
      <p>{{c.birthdate}}</p>
      <a [routerLink]="['/customer/edit', c.id]" class="btn btn-info btn-block">
        Edit Customer
      </a><p></p>
    </div>
  </div>
  <br>
</div>
