<div class="col-md-4 offset-md-2">
  <div class="card">
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <input type="date" name="date_request" [(ngModel)]="loan.date_request" placeholder="Date Request" class="form-control">
        </div>
        <div class="form-group">
          <input type="number" name="request_amount" [(ngModel)]="loan.request_amount" placeholder="Reques amount" class="form-control" autofocus>
        </div>
        <button class="btn btn-success btn-block" (ngSubmit)="edit ? updateLoan() : createLoan()">
          Save
        </button>
      </form>
    </div>
  </div>
</div>
